.hero{
height:70vh;
background:url("/banner.jpg") center/cover no-repeat;
display:flex;
align-items:center;
justify-content:flex-start;
padding-left:120px;
padding-right:20px;
}


.hero-content{
max-width:600px;
color:rgb(0, 0, 0);
}

.hero-content h1{
margin-bottom:20px;
}

.hero-content p{
line-height:1.6;
}